<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
        <h1 class="my-4">Edit Product</h1>
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name"  vlaue="{{product.name}}" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" name="category" placeholder="Enter product category" value="{{product.category}}" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Enter product price" step="0.01" value="{{product.price}}" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter product description" value="{{product.description}}" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Product Image</label>
                <img src="/product-images/{{product.id}}.jpg" alt="" style="width:100px;height:auto">
                <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>
    </div>
</section>