<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr id="product-row-{{productDetails._id}}">
                    <td><img style="width:50px;height:40px;" src="/product-images/{{productDetails._id}}.jpg" alt=""></td>
                    <td>{{productDetails.name}}</td>
                    <td>Rs.{{productDetails.price}}</td>
                    <td>
                        <button class="cart-item-count mr-3" onclick="changeQuant('{{../user.id}}', '{{productDetails._id}}', -1)">-</button>
                        <span id="quantity-{{productDetails._id}}">{{quantity}}</span>
                        <button class="cart-item-count ml-3" onclick="changeQuant('{{../user.id}}', '{{productDetails._id}}', 1)">+</button>
                    </td>

                        <td>
                    <a href="" class="btn btn-danger">Remove</a>
                    </td>
                    </tr>
                {{/each}}


            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5">
            <h3 class="float-left mr-5">Total : Rs.<span id="total">{{tot}}</span></h3>
            <a href="/place-order" class="btn btn-success mt-3 " style="width:100%;"><b>Place Order</b></a>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        function changeQuant(userId, prodId, count) {
            $.ajax({
                url: '/change-product-quantity',
                method: 'POST',
                data: {
                    userId: userId,
                    prodId: prodId,
                    count: count
                },
                success: function(response) {
                    if (response.status) {
                        // Update the quantity display
                        let quantityElement = $('#quantity-' + prodId);
                        let newQuantity = parseInt(quantityElement.text()) + count;
                        if (newQuantity <= 0) {
                            // Remove the item row if quantity is zero or less
                            quantityElement.closest('tr').remove();
                        } else {
                            quantityElement.text(newQuantity);
                        }

                        // Update the total display
                        $('#total').text(response.total);
                    } else {
                        alert(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error updating product quantity:', error);
                    alert('Error updating product quantity: ' + error);
                }
            });
        }
    </script>